/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Kosugi+Maru&display=swap');

html,
body {
    width: 100%;
    max-width: 100%;
    height: 100%;
    padding: 0;

}

body {
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    letter-spacing: 0.8px;
}

content {
    line-height: 1.75;
    font-size: 16px;
}

/* rounded imgs */
img {
    /* padding: 5px 0px; */
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
}

/* iframe for things like youtube video player */
iframe {
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
}

#wrapper {
    position: relative;
    text-align: left;
    /* wrapper aligned to left */
}

#wrapper:before {
    content: "";
    position: relative;
    /* display: inline-block; */
    display: inline;
    width: 0;
    height: 100%;
    vertical-align: middle;
}

/* fade & slide in content */
@keyframes fadeleft {
    0% {
        opacity: 0;
        transform: translateX(24px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

#content {
    /* animate! */
    animation: fadeleft 0.7s ease forwards;
    display: inline-block;
    vertical-align: middle;
    color: #222222;
    font-size: 18px;
    font-family: "Comfortaa", "Kosugi Maru", sans-serif;
    font-weight: 400;
    width: 80%;
    max-width: 600px;
    margin: 100px 0 0 0;
    padding: 24px;
    /* background-color: rgba(255, 255, 255, 0.99); */
    border-width: 0px;
    border-radius: 0 32px 0 0;
    -webkit-border-radius: 0 32px 0 0;
    -moz-border-radius: 0 32px 0 0;
    text-align: left;
    align-items: center;
    justify-content: center;
}

#main-content {
    margin-left: 20px;
    margin-right: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b,
a {
    color: #222222;
    transition: color 0.25s ease;
}

a:hover {
    color: #aaaaaa;
    background-color: #ffffff00;
}

footer {
    padding: 12px;
}

img.title {
    margin-top: 32px;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;

}

h1.title {
    letter-spacing: 4px;
    font-size: 30px;
    margin-top: 8px;
    margin-bottom: 0px;
    color: #222222;
    font-weight: bolder;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    letter-spacing: 1.4px;
}

h1 {
    font-size: 20px;
    font-weight: bold;
}

hr {
    width: 10%;
    border: 1px solid #222222;
    /* set to 40px auto if you want it centred */
    margin: 40px 0px;
}

blockquote {
    margin: 8px 0;
    padding: 8px 12px;
    background-color: #22222233;
    border-left: 0;
    border-radius: 28px;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    font-style: normal;
    color: #222222;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.copyright-small {
    font-size: 60%;
    line-height: 1.4;
    margin-bottom: 20px;
}

::-moz-selection {
    background: #22222233;
}

::selection {
    background: #22222233;
}

/* language button */

div#language {
    text-align: right;
    position: fixed;
    top: 6px;
    right: 6px;
    background-color: #ffffff;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 32px;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    vertical-align: middle;
    text-align: center;
    overflow: auto;
    transition: top 0.3s, color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
}

#language a {
    color: #222222;
    text-decoration: none;
}

div#language:hover {
    background-color: #22222233;
}

div#language:hover a {
    color: #222222;
}

/* button links */

div.gp_button {
    display: inline-block;
}

.gp_button li {
    line-height: 3;
    display: inline;
    list-style-type: none;
    background-color: #fff;
    padding: 10px;
    margin-right: 6px;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
}

.gp_button li span {

    padding-left: 3px;
    padding-right: 3px;
    display: inline-block;
}

.gp_button a:hover li {
    background-color: #22222233;
}

.gp_button a {
    color: #222;
    text-decoration: none;
    white-space: nowrap;
}

.gp_button a:hover {
    color: #222;
}

/* simple, bootstrap icons */
.si,
.bi {
    vertical-align: bottom;
}

/* back button */
ul.home {
    display: inline-block;
    list-style-type: none;
    margin: auto;
    padding: 0;
    width: 300px;
    max-width: 100%;
}

.home li {
    /* display: inline-flex; */
    background-color: #fff;
    padding: 10px;
    margin: 10px;
    border-radius: 32px;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    flex-direction: row-reverse;
    transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
    vertical-align: middle;
    text-align: center;
    overflow: auto;
}

.home a:hover li {
    background-color: #22222233;
}

.home li span {
    padding-left: 12px;
    padding-right: 12px;
    display: inline-block;
}

.home li span:first-child {
    float: left;
}

.home li span:not(:first-child) {
    float: right;
    vertical-align: middle;
}

.home a {
    display: block;
    color: #222;
    text-decoration: none;
    white-space: nowrap;
    font-size: 20px;
    letter-spacing: 2px;
}

.home a:hover {
    color: #222;
}
